<?xml version="1.0"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./lib/FactoryTask/DocumentFactory</directory>
			<directory suffix=".php">./lib/FactoryTask/Document</directory>
		</include>
	</coverage>

	<testsuites>
		<testsuite name="FactoryTests">
			<directory suffix="Test.php">./tests/FactoryTask/FactoryTest</directory>
			<directory suffix="Test.php">./tests/FactoryTask</directory>
		</testsuite>
		<testsuite name="DecoratorTests">
			<directory suffix="Test.php">./tests/DecoratorTask/ShapeTest</directory>
			<directory suffix="Test.php">./tests/DecoratorTask/DecoratorTest</directory>
		</testsuite>
	</testsuites>

</phpunit>
